In [2]:
import pandas as pd

In [10]:
with open('../data/stations.json', 'r') as f:
    stations_json = f.read()

df_stations = pd.read_json(stations_json, orient='records')
df_stations.set_index('id', inplace=True)

df_stations.head()

,district,lon,lat,bikes,slots,zip,address,addressNumber,nearbyStations,status,name,stationType
id,,,,,,,,,,,,
1,CUA,-99.167809,19.433571,21,6,6500.0,001 - Río Sena-Río Balsas,S/N,"3,8,85",OPN,1 RIO SENA-RIO BALSAS,"BIKE,TPV"
2,CUA,-99.171695,19.431386,9,3,6500.0,002 - Río Guadalquivir - Río Balsas,S/N,"1,5",OPN,2 RIO GUADALQUIVIR-RIO BALSAS,BIKE
3,1,-99.158668,19.431655,25,9,6500.0,003 - Reforma - Insurgentes,S/N,"8,20,86",OPN,3 REFORMA-INSURGENTES,"BIKE,TPV"
4,CUA,-99.171713,19.428309,8,7,6500.0,004 - Río Nilo - Río Panuco,S/N,"5,8,9,10",OPN,4 RIO NILO-RIO PANUCO,BIKE
5,CUA,-99.169363,19.429720,4,8,6500.0,005 - Río Pánuco Río Tiber,S/N,"2,4,9,10",OPN,5 RIO PANUCO-RIO TIBER,BIKE